[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Marlon da Rocha
	email = marlonrochasa@gmail.com
[gui]
	recentrepo = C:/Users/marlo/OneDrive/Documentos/Projetos
	recentrepo = C:/Users/marlo/OneDrive/Documentos/Cursos/html-e-css
